.experiences {
	position: relative;
	margin: 200px auto 0;
}

.work-line,.work-line-first {
	border-top: 1px solid #eee;
	width: 100%;
	height: 120px;;
	animation-fill-mode: both;
	animation-delay: 1.5s;
	display: flex;

	&:last-child {
		border-bottom: 1px solid #eee;
	}
}

.project-title {
	height: 100%;
	float: left;
	font-weight: 600;
	font-size: 24px;
	text-align: left;
	color: #111;
	align-items: center;
    display: flex;
    width: 30%;
}

.project-info {
	flex-grow: 1;
	display: none;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	font-weight: 400;
	font-size: 16px;
	color: #666;

	.date {
		margin-top: 10px;
		font-size: 14px;
	}

	&.active {
		display: flex;
	}
}

.arrow_next, .see-projects {
	width: 40px;
	height: 100%;
	float: right;
	background: url(../images/arrow_next.png) no-repeat;
	background-size: 40px 80px;
	background-position: center;
	border-left: 1px solid #eee;
	-webkit-transition-duration: .1s;
	transition-duration: .1s;
	cursor: pointer;
}

.arrow_next:hover {
	background: url(../images/next_text.png) no-repeat;
	background-size: 110px 80px;
	background-position: center;
	width: 110px;
	height: 100%;
}

.see-projects:hover {
	background: url(../images/see_text.png) no-repeat;
	background-size: 110px 80px;
    background-position: center;
    width: 110px;
	height: 100%;
}

@media screen and (max-width:768px) {
	.experiences {
		margin-top: 120px;
	}

	.work-line,.work-line-first {
		height: 80px;
	}

	.project-title,.project-info {
		font-size: 16px;
	}
}

@media only screen and (min-width :1824px) {
	.experiences {
		margin-top: 380px;
	}

	.work-line,.work-line-first {
		height: 160px;
	}

	.project-title	{
		font-size: 32px;
	}

	.project-info {
		font-size: 28px;

		.date {
			font-size: 24px;
		}
	}
}