.experiences {
	position: relative;
	margin: 200px auto 0;
}

#works a {
	display: block;
	transition: all .2s ease;
}

#works:hover a {
	opacity: .2;
}

#works:hover .work-line:hover a:hover {
	opacity: 1;
}

.work-line,.work-line-first {
	border-top: 1px solid #eee;
	width: 100%;
	height: 120px;;
	animation-fill-mode: both;
	animation-delay: 1.5s;
}

.work-line a {
	height: 100%;
	text-decoration: none;
}

.project-title {
	height: 100%;
	float: left;
	font-weight: 600;
	font-size: 24px;
	text-align: left;
	color: #111;
	align-items: center;
    display: flex;
    width: 50%;
}

.project-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	font-weight: 400;
	font-size: 16px;
	color: #666;

	.date {
		margin-top: 10px;
		font-size: 14px;
	}
}

@media screen and (max-width:768px) {
	.experiences {
		margin-top: 120px;
	}

	.work-line,.work-line-first {
		height: 80px;
	}

	.project-title,.project-info {
		font-size: 16px;
	}
}

@media only screen and (min-width :1824px) {
	.experiences {
		margin-top: 380px;
	}

	.work-line,.work-line-first {
		height: 160px;
	}

	.project-title	{
		font-size: 32px;
	}

	.project-info {
		font-size: 28px;

		.date {
			font-size: 24px;
		}
	}
}