.project {
	position: relative;
    margin: 200px auto 0;

    .project-name {
    	font-weight: 600;
    	font-size: 24px;
	    text-align: left;
	    color: #111;
	    text-transform: capitalize;
    	margin-bottom: 40px;
    }

    .project-description {
    	font-weight: 400;
	    font-size: 16px;
	    text-align: left;
	    color: #666;
    	p {
    		margin: 0 0 12px;
    		line-height: inherit;
    	}
    }

    .project-media {
    	position: relative;
    	height: 500px;

    	img {
    		width:120%;	
    	}

    	.bespoke-slide {
    		background: transparent;
    	}
    }

    @media only screen and (min-width :1824px) {
		.project-name {
			font-size: 30px;
		}

		.project-description {
			font-size: 32px;
		}
	}
}

footer {
	text-align: center;
    padding: 80px 0;

    .center-link {
    	font-weight: 600;
    	font-size: 14px;
    	text-decoration: none;
    	text-transform: uppercase;
    	cursor: pointer;

    	&:hover {
    		text-decoration: line-through;
    	}
    }
}